:root {
  --text-xdkblue: hsl(237, 12%, 33%);
  --text-dkblue: hsl(240, 6%, 50%);
  --text-blue: hsl(238, 29%, 16%);
  --text-red: hsl(14, 88%, 65%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    var(--gradient-violet),
    var(--gradient-blue)
  );
  color: var(--text-blue);
}
h1,
h2,
h3 {
  margin-top: 0;
}
.card-box {
  display: none;
}
.card {
  background-color: #ffffff;
  border-radius: 2rem;
  max-width: 56rem;
  padding: 2.875rem 1.5rem 2.875rem 0;

  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 15rem;
}

.card-image {
  position: relative;
}
.card-image img {
  display: none;
}
.card-image-mobile img {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: auto;
  max-width: 16.5rem;
  margin: auto;
}
.card-text {
  padding-top: 7rem;
  padding-left: 1rem;
}

.accordion-item {
  padding-top: 1rem;
  border-bottom: 1px solid var(--divider-blue);
}
.accordion-item h2 {
  margin-bottom: 0;
}
.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  text-align: left;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: 1rem;
}
.accordion-question.open {
  font-weight: 700;
}
.accordion-question::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 1rem;
  border: none;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform 300ms ease-in-out;
}
.accordion-question:focus,
.accordion-question:focus-visible {
  border: none;
  outline: dashed 1px rgba(0, 0, 0, 0.25);
}

.accordion-question.open {
  font-weight: 700;
}
.accordion-question.open::after {
  transform: rotate(180deg);
}
.accordion-content {
  font-size: 1rem;
  line-height: 1.4;
  padding-bottom: 1rem;
}
.accordion-collapse {
  transition: height 300ms ease;
}
.accordion-collapse.collapse {
  display: none;
}
.accordion-collapse.collapsing {
  height: 0;
  overflow: hidden;
}
.accordion-collapse.open {
  display: block;
}

footer {
  position: relative;
  bottom: -13vh;
}
.attribution {
  position: absolute;
  bottom: 0;
  color: var(--divider-blue);
}
.attribution a {
  color: var(--divider-blue);
}

/* DESKTOP STYLE*/
@media (min-width: 56rem) {
  body {
    padding: 5rem;
  }
  .card {
    display: flex;
    margin: 0 auto;
    padding: 4.375rem 6.25rem 4.375rem 0;
    background-image: url("assets/images/bg-pattern-desktop.svg");
    background-size: 45%;
    background-position: -13%;
  }
  .card-box {
    display: block;
    position: absolute;
    left: auto;
    top: 19rem;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  .card-image,
  .card-text {
    flex: 1;
  }
  .card-image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .card-image-mobile img {
    display: none;
  }
  .card-image img {
    display: flex;
    position: absolute;
    top: 4vh;
    left: auto;
    transform: translateX(-4rem);
    max-width: 25rem;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .card-text {
    padding-top: 0;
  }
}
